@using X.PagedList
@using X.PagedList.Mvc
@{
    ViewBag.Title = "主页-后台管理";
    ViewBag.lanmu = "报名管理 ";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
                    <script>
                        $(function () {
                            $(".delu").click(function () {
                                if (!confirm("确认删除吗？")) return;
                                var $uid = $(this).attr("name");
                                $.post("/userInfo/Del", { Id: $uid }, function (data, status) {
                                    $("#" + $uid).remove();
                                });
                            });
                            $(".fou").click(function () {
                                if (!confirm("确认要修改吗？")) return;
                                var $uid = $(this).attr("name");
                                $.post("/userInfo/updateFeiIsOk", { uid: $uid }, function (data, status) {
                                    //$("#fou").html("是");
                                    //$("#fou").css({ "color": "green" })
                                    alert("已经更改，稍后刷新更新缴费状态~");
                                });
                            });
                        });
                    </script>
<div class="container-widget">
    <div class="row">
        @Html.Partial("~/Views/Shared/_AdminTongji.cshtml")
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-title">
                    点击"<span style="color: red">否</span>"更改缴费状态&nbsp; &nbsp;&nbsp;&nbsp;<span style="color:red">@ViewBag.info</span>
                </div>
                <div class="panel-body table-responsive">

                    <table id="example" class="table display">
                        <thead>
                            <tr>
                                <th>姓名 </th>
                                <th>电话</th>
                                <th>公司</th>
                                <th>是否缴费</th>
                                <th>报名时间</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                            <tbody>
                                @if (ViewBag.List != null)
                                {
                                    foreach (var alist in ViewBag.list)
                                    {
                                        <tr id="@alist.userId">
                                            <td>@alist.userName</td>
                                            <td>@alist.userPhone</td>
                                            <td>@alist.userCompany</td>
                                            <td>
                                                @{if (alist.feiIsOk == 1)
        {

                                            <span style="color:green">是</span>

}
else
{
                                            <span id="fou" class="fou" name="@alist.userId" style="color: red">否</span>
}
                                                }

                                            </td>
                                            <td>@((alist.userAddtime).ToString("yyyy-MM-dd") )</td>
                                            <td>
                                                <a href="/userInfo/GetUDetail/?id=@alist.userId">详情</a> &nbsp;
                                                <a href="/userInfo/UEdit/?id=@alist.userId">编辑</a>  &nbsp;
                                                <a class="delu"  name="@alist.userId" href="#">删除</a>
                                                @*<button id="delu" name="@alist.userId">删除</button>*@
                                            </td>
                                        </tr>

                                                        }
                                                    }
                            </tbody>
                    </table>


                </div>

            </div>
        </div>
        <div class="text-center">
            @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
        </div>
    </div>

</div>
