@model Models.UserInfo

@{
    ViewBag.Title = "主页-后台管理";
    ViewBag.lanmu = Model.userName;
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-widget">
    <form method="post" action="/UserInfo/UUpdate">
        <ul class="list-group">
            <li class="list-group-item">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：<input type="text" name="userName" value=" @Model.userName" /></li>
            <li class="list-group-item">公&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;司：<input type="text" name="userCompany" value=" @Model.userCompany" /></li>
            <li class="list-group-item">职&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;务：<input type="text" name="userPost" value=" @Model.userPost" /></li>
            <li class="list-group-item">电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话：<input type="text" name="userPhone" value=" @Model.userPhone" /></li>
            <li class="list-group-item">地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址：<input type="text" name="userAddress" value=" @Model.userAddress" /></li>
            <li class="list-group-item">继续教育：&nbsp;<input type="text" name="jxJiaoyu" value=" @Model.jxJiaoyu" /></li>
            <li class="list-group-item">----------------------------------发票信息----------------------------------</li>
            <li class="list-group-item">发&nbsp;&nbsp;票&nbsp;&nbsp;类&nbsp;&nbsp;型：&nbsp;&nbsp;@(Model.taxIsPu == 1 ? "普票" : "专票")</li>
            <li class="list-group-item">发&nbsp;&nbsp;票&nbsp;&nbsp;抬&nbsp;&nbsp;头：&nbsp;&nbsp;<input type="text" name="taxName" value=" @Model.taxName" /></li>
            <li class="list-group-item">纳税人识别号：<input type="text" name="taxNumber" value=" @Model.taxNumber" /></li>
            <li class="list-group-item">开户行帐号：&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="taxBank" value=" @Model.taxBank" /></li>
            <li class="list-group-item">发&nbsp;&nbsp;票&nbsp;&nbsp;地&nbsp;&nbsp;址：&nbsp;&nbsp;<input type="text" name="taxAddress" value=" @Model.taxAddress" /></li>
            <li class="list-group-item">发&nbsp;&nbsp;票&nbsp;&nbsp;电&nbsp;&nbsp;话：&nbsp;&nbsp;<input type="text" name="taxPhone" value=" @Model.taxPhone" /></li>

        </ul> 
        <input type="text" name="userId" value=" @ViewBag.id" hidden/>
        <button type="submit" class="btn btn-danger">提交</button>
    </form>              



</div>
