  <!-- 信息统计 -->
<div class="col-md-12">
    <ul class="topstats clearfix">
        <li class="arrow"></li>
        @*<li class="col-xs-6 col-lg-2">
                <span class="title"><i class="fa fa-clock-o"></i> 新的缴费</span>
                <h3 class="color-down">1!</h3>

            </li>
            <li class="col-xs-6 col-lg-2">
                <span class="title"><i class="fa fa-dot-circle-o"></i> 今日报名人数</span>
                <h3>0</h3>

            </li>
            <li class="col-xs-6 col-lg-2">
                <span class="title"><i class="fa fa-calendar-o"></i> 今日缴费人数</span>
                <h3>0</h3>

            </li>*@
        <li class="col-xs-6 col-lg-2">
            <span class="title"> <i class="fa fa-users"></i> 报名总人数</span>
            <h3 class="color-up">@ViewBag.num</h3>
            <a href="/SysAdmin/Index">
                <span class="diff"><b class="color-down"><i class="fa fa-eye" aria-hidden="true"></i>查看</b></span>
            </a>
        </li>
        <li class="col-xs-6 col-lg-2">
            <span class="title"><i class="fa fa-check-square-o" aria-hidden="true"></i>已缴费总人数</span>
            <h3>@ViewBag.feinum </h3>
            <a href="/SysAdmin/FList">
                <span class="diff"><b class="color-down"><i class="fa fa-eye" aria-hidden="true"></i>查看</b></span>
            </a>
        </li>
        <li class="col-xs-6 col-lg-2">
            <span class="title"><i class="fa fa-minus-square" aria-hidden="true"></i> 未缴费总人数</span>
            <h3>@ViewBag.feinot </h3>
            <a href="/SysAdmin/FNList">
                <span class="diff"><b class="color-down"><i class="fa fa-eye" aria-hidden="true"></i>查看</b></span>
            </a>
        </li>
        <li class="col-xs-6 col-lg-2">
            <span class="title"><i class="fa fa-plus-square" aria-hidden="true"></i>继续教育</span>
            <h3>@ViewBag.Jx </h3>
            <a href="/SysAdmin/JxList">
                <span class="diff"><b class="color-down"><i class="fa fa-eye" aria-hidden="true"></i>查看</b></span>
            </a>
        <li class="col-xs-6 col-lg-4">
            <span class="title text-left"><i class="fa fa-bookmark" aria-hidden="true"></i> 报名企业</span>
            <form method="post" action="/SysAdmin/CoList/">
                <h3>
                    <select name="userCompany" id="userCompany">
                        @if (ViewBag.cList != null)
            {
                foreach (var colist in ViewBag.clist)
                {
                    <option name="@colist.userCompany" value="@colist.userCompany"> @colist.userCompany</option>
    }
}
                    </select>
                </h3>
                <input type="submit" value="查看" class="btn btn-danger"/>
            </form>
        </li>

    </ul>
</div>
<!-- end 信息统计 -->